
<html lang="en">

<head>
  <title>RENT</title>
  <link href="../static/styles/card.css" rel="stylesheet">
</head>

<body>

<div class="container" >
    <link href="../static/styles/card4.css" rel="stylesheet">
    <h1>Clothing Cards made with pure bootstrap and jquery</h1>
    <br>
    <br>
    <div class="row">
        <div class="col-md-3">
          <div class="dress-card">
            <div class="dress-card-head">
              <img class="dress-card-img-top" src="" alt="">
              <div class="surprise-bubble"><span class="dress-card-heart">
                  <i class="fas fa-heart"></i>
                </span><a href="#"> <span>More</span></a></div>
            </div>
            <div class="dress-card-body">
              <h4 class="dress-card-title">Harpa</h4>
              <p class="dress-card-para">Womans printed clothing</p>
              <p class="dress-card-para"><span class="dress-card-price">Rs.839 &ensp;</span><span class="dress-card-crossed">Rs.2099</span><span class="dress-card-off">&ensp;(60% OFF)</span></p>
              <div class="row">
                <div class="col-md-6 card-button"><a href=""><div class="card-button-inner bag-button">Add to Bag</div></a></div>
                <div class="col-md-6 card-button"><a href=""><div class="card-button-inner wish-button">Whishlist</div></a></div>
              </div>
            </div>
          </div>
        </div>
      <div class="col-md-3">
          <div class="dress-card">
            <div class="dress-card-head">
              <img class="dress-card-img-top" src="" alt="">
              <div class="surprise-bubble"><span class="dress-card-heart">
                  <i class="fas fa-heart"></i>
                </span><a href="#"> <span>More</span></a></div>
            </div>
            <div class="dress-card-body">
              <h4 class="dress-card-title">Harpa</h4>
              <p class="dress-card-para">Womans printed clothing</p>
              <p class="dress-card-para"><span class="dress-card-price">Rs.839 &ensp;</span><span class="dress-card-crossed">Rs.2099</span><span class="dress-card-off">&ensp;(60% OFF)</span></p>
              <div class="row">
                <div class="col-md-6 card-button"><a href=""><div class="card-button-inner bag-button">Add to Bag</div></a></div>
                <div class="col-md-6 card-button"><a href=""><div class="card-button-inner wish-button">Whishlist</div></a></div>
              </div>
            </div>
          </div>
        </div>
      <div class="col-md-3">
          <div class="dress-card">
            <div class="dress-card-head">
              <img class="dress-card-img-top" src="" alt="">
              <div class="surprise-bubble"><span class="dress-card-heart">
                  <i class="fas fa-heart"></i>
                </span><a href="#"> <span>More</span></a></div>
            </div>
            <div class="dress-card-body">
              <h4 class="dress-card-title">Harpa</h4>
              <p class="dress-card-para">Womans printed clothing</p>
              <p class="dress-card-para"><span class="dress-card-price">Rs.839 &ensp;</span><span class="dress-card-crossed">Rs.2099</span><span class="dress-card-off">&ensp;(60% OFF)</span></p>
              <div class="row">
                <div class="col-md-6 card-button"><a href=""><div class="card-button-inner bag-button">Add to Bag</div></a></div>
                <div class="col-md-6 card-button"><a href=""><div class="card-button-inner wish-button">Whishlist</div></a></div>
              </div>
            </div>
          </div>
        </div>
      <div class="col-md-3">
          <div class="dress-card">
            <div class="dress-card-head">
              <img class="dress-card-img-top" src="" alt="">
              <div class="surprise-bubble"><span class="dress-card-heart">
                  <i class="fas fa-heart"></i>
                </span><a href="#"> <span>More</span></a></div>
            </div>
            <div class="dress-card-body">
              <h4 class="dress-card-title">Harpa</h4>
              <p class="dress-card-para">Womans printed clothing</p>
              <p class="dress-card-para"><span class="dress-card-price">Rs.839 &ensp;</span><span class="dress-card-crossed">Rs.2099</span><span class="dress-card-off">&ensp;(60% OFF)</span></p>
              <div class="row">
                <div class="col-md-6 card-button"><a href=""><div class="card-button-inner bag-button">Add to Bag</div></a></div>
                <div class="col-md-6 card-button"><a href=""><div class="card-button-inner wish-button">Whishlist</div></a></div>
              </div>
            </div>
          </div>
        </div>
      
      </div>
    
  </div>

</body>

</html>