<link href="../static/styles/insta.css" rel="stylesheet">
<nav class="navbar">
    <div class="nav-wrapper">
        <img src="../static/img/logo.PNG" class="brand-img" alt="">
        <input type="text" class="search-box" placeholder="search">
        <div class="nav-items">
            <img src="../static/img/home.PNG" class="icon" alt="">
            <img src="../static/img/messenger.PNG" class="icon" alt="">
            <img src="../static/img/add.PNG" class="icon" alt="">
            <img src="../static/img/explore.PNG" class="icon" alt="">
            <img src="../static/img/like.PNG" class="icon" alt="">
            <div class="icon user-profile"></div>
        </div>
    </div>
</nav>

<section class="main">
    <div class="wrapper">

        <div class="left-col">
            <div class="status-wrapper">
                <div class="status-card">
                    <div class="profile-pic"><img src="../static/img/cover1.png" alt=""></div>
                    <p class="username">aadi</p>
                </div>
                <div class="status-card">
                    <div class="profile-pic"><img src="../static/img/cover2.png" alt=""></div>
                    <p class="username">dev</p>
                </div>
                <div class="status-card">
                    <div class="profile-pic"><img src="../static/img/cover3.png" alt=""></div>
                    <p class="username">hritik</p>
                </div>
                <div class="status-card">
                    <div class="profile-pic"><img src="../static/img/cover4.png" alt=""></div>
                    <p class="username">ishaan</p>
                </div>
                <div class="status-card">
                    <div class="profile-pic"><img src="../static/img/cover5.png" alt=""></div>
                    <p class="username">ryan</p>
                </div>
        </div>
    </div>
</section>


<section class="main">
    <div class="wrapper">

        <div class="left-col">
            <div class="post">
                <div class="info">
                    <div class="user">
                        <div class="profile-pic"><img src="../static/img/cover1.png" alt=""></div>
                        <p class="username">natasha</p>
                    </div>
                    <img src="../static/img/option.PNG" class="options" alt="">
                </div>
                <form action="/rent" method="POST" class="image">
                    <input type="image" src="../static/img/denimquery1.jpeg" class="post-image" alt="">
                </form>
                <div class="post-content">
                    <div class="reaction-wrapper">
                        <img src="../static/img/like.PNG" class="icon" alt="">
                        <img src="../static/img/comment.PNG" class="icon" alt="">
                        <img src="../static/img/send.PNG" class="icon" alt="">
                        <form action="/rent" method="POST" class="icon">
                            <input type="hidden" name="path" value="static/img/redhoodie2.jpeg">
                            <input type="image" src="../static/img/coown.png" class="icon">
                        </form>
                        <img src="../static/img/save.PNG" class="save icon" alt="">
                    </div>
                    <p class="likes">1,012 likes</p>
                    <p class="description"><span>natasha </span> I am willing to rent this denim.</p>
                    <p class="post-time">2 minutes ago</p>
                </div>
                <div class="comment-wrapper">
                    <img src="../static/img/smile.PNG" class="icon" alt="">
                    <input type="text" class="comment-box" placeholder="Add a comment">
                    <button class="comment-btn">post</button>
                </div>
            </div>
            <!-- <div class="post">
                <div class="info">
                    <div class="user">
                        <div class="profile-pic"><img src="../static/img/cover2.png" alt=""></div>
                        <p class="username">modern_web_channel</p>
                    </div>
                    <img src="../static/img/option.PNG" class="options" alt="">
                </div>
                <img src="../static/img/heels1.jpeg" class="post-image" alt="">
                <div class="post-content">
                    <div class="reaction-wrapper">
                        <img src="../static/img/like.PNG" class="icon" alt="">
                        <img src="../static/img/comment.PNG" class="icon" alt="">
                        <img src="../static/img/send.PNG" class="icon" alt="">
                        <form action="/rent" method="POST" class="icon">
                            <input type="hidden" name="path" value="static/img/heels1.jpeg">
                            <input type="image" src="../static/img/coown.png" class="icon">
                        </form>
                        <img src="../static/img/save.PNG" class="save icon" alt="">
                    </div>
                    <p class="likes">1,012 likes</p>
                    <p class="description"><span>username </span> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Pariatur tenetur veritatis placeat, molestiae impedit aut provident eum quo natus molestias?</p>
                    <p class="post-time">2 minutes ago</p>
                </div>
                <div class="comment-wrapper">
                    <img src="../static/img/smile.PNG" class="icon" alt="">
                    <input type="text" class="comment-box" placeholder="Add a comment">
                    <button class="comment-btn">post</button>
                </div>
            </div> -->
        </div>

        <div class="right-col">
            <div class="profile-card">
                <div class="profile-pic">
                    <img src="../static/img/profilepic.png" alt="">
                </div>
                <div>
                    <p class="username">modern_web_channel</p>
                    <p class="sub-text">natasha</p>
                </div>
                <button class="action-btn">switch</button>
            </div>
            <p class="suggestion-text">Suggestions for you</p>
            <div class="profile-card">
                <div class="profile-pic">
                    <img src="../static/img/cover9.png" alt="">
                </div>
                <div>
                    <p class="username">avni</p>
                    <p class="sub-text">bhavna</p>
                </div>
                <button class="action-btn">follow</button>
            </div>
            <div class="profile-card">
                <div class="profile-pic">
                    <img src="../static/img/cover10.png" alt="">
                </div>
                <div>
                    <p class="username">charita</p>
                    <p class="sub-text">diya</p>
                </div>
                <button class="action-btn">follow</button>
            </div>
            <div class="profile-card">
                <div class="profile-pic">
                    <img src="../static/img/cover11.png" alt="">
                </div>
                <div>
                    <p class="username">ekta</p>
                    <p class="sub-text">falak</p>
                </div>
                <button class="action-btn">follow</button>
            </div>
            <div class="profile-card">
                <div class="profile-pic">
                    <img src="../static/img/cover12.png" alt="">
                </div>
                <div>
                    <p class="username">hema</p>
                    <p class="sub-text">rekha</p>
                </div>
                <button class="action-btn">follow</button>
            </div>
            <div class="profile-card">
                <div class="profile-pic">
                    <img src="../static/img/cover13.png" alt="">
                </div>
                <div>
                    <p class="username">isha</p>
                    <p class="sub-text">janya</p>
                </div>
                <button class="action-btn">follow</button>
            </div>
        </div>
    
    </div>
</section>