<link href="../static/styles/insta.css" rel="stylesheet">

<nav class="navbar">
    <div class="nav-wrapper">
        <img src="../static/img/logo.PNG" class="brand-img" alt="">
        <input type="text" class="search-box" placeholder="search">
        <div class="nav-items">
            <img src="../static/img/home.PNG" class="icon" alt="">
            <img src="../static/img/messenger.PNG" class="icon" alt="">
            <img src="../static/img/add.PNG" class="icon" alt="">
            <img src="../static/img/explore.PNG" class="icon" alt="">
            <img src="../static/img/like.PNG" class="icon" alt="">
            <div class="icon user-profile"></div>
        </div>
    </div>
</nav>

<ul class="scrollable-images">
    <li><img src="../static/img/denim1.png"></li>
    <li><img src="../static/img/denim2.png"></li>
    <li><img src="../static/img/denim3.png"></li>
    <li><img src="../static/img/denim4.png"></li>
    <li><img src="../static/img/denim5.png"></li>
    <li><img src="../static/img/denim6.png"></li>
    <li><img src="../static/img/denim7.png"></li>
</ul> 

<section class="main">
    <div class="wrapper">

        <div class="left-col">
            <div class="post">
                <div class="info">
                    <div class="user">
                        <div class="profile-pic"><img src="../static/img/cover7.png" alt=""></div>
                        <p class="username">natasha</p>
                    </div>
                    <img src="../static/img/option.PNG" class="options" alt="">
                </div>
                <img src="../static/img/denimquery1.jpeg" class="post-image" alt="">
                <div class="post-content">
                    <!-- <div class="reaction-wrapper">
                        <img src="../static/img/like.PNG" class="icon" alt="">
                        <img src="../static/img/comment.PNG" class="icon" alt="">
                        <img src="../static/img/send.PNG" class="icon" alt="">
                        <form action="/rent" method="POST" class="icon">
                            <input type="hidden" name="param" value="cost">
                            <input type="image" src="../static/img/coown.png" class="icon">
                        </form>
                        <img src="../static/img/save.PNG" class="save icon" alt="">
                    </div> -->
                    <p class="garment-cost">Rs 300</p>
                    <p class="garment-type">Denim</p>
                    <button class="button-figma">Co-own now!</button>
                    <!-- <p class="description"><span>username </span> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Pariatur tenetur veritatis placeat, molestiae impedit aut provident eum quo natus molestias?</p>
                    <p class="post-time">2 minutes ago</p> -->
                </div>
                <div>
                    <!-- <img src="../static/img/smile.PNG" class="icon" alt="">
                    <input type="text" class="comment-box" placeholder="Add a comment">
                    <button class="comment-btn">post</button> -->
                    <p class="garment-description-top">Color Blue</p>
                    <p class="garment-description-rest">Size S M</p>
                    <p class="garment-description-rest">Regular Machine Wash</p>
                    <p class="garment-description-rest">Solid Pattern</p>
                    <p class="garment-description-rest">Denim Fabric</p>
                </div>
            </div>
        </div>

        <div class="right-col2">
            <p style="font-weight: bold; color: darkgray; font-family:Arial, Helvetica, sans-serif; font-size: 20px;">Didn't find your size?</p>
            <p style="font-weight: bold; color: darkgray; font-family: Arial, Helvetica, sans-serif; font-size: 20px; margin-top: 5px;">Find similar results.</p>
            {% for packet in packets %}
            <div class="post">
                <div class="info">
                    <div class="user">
                        <div class="profile-pic"><img src="../static/img/cover7.png" alt=""></div>
                        <p class="username">modern_web_channel</p>
                    </div>
                    <img src="../static/img/option.PNG" class="options" alt="">
                </div>
                <img src="{{ packet['url'] }}" class="post-image" alt="" style="cursor: pointer;">
                <div class="post-content">
                    <!-- <div class="reaction-wrapper">
                        <img src="../static/img/like.PNG" class="icon" alt="">
                        <img src="../static/img/comment.PNG" class="icon" alt="">
                        <img src="../static/img/send.PNG" class="icon" alt="">
                        <form action="/rent" method="POST" class="icon">
                            <input type="hidden" name="param" value="cost">
                            <input type="image" src="../static/img/coown.png" class="icon">
                        </form>
                        <img src="../static/img/save.PNG" class="save icon" alt="">
                    </div> -->
                    <p class="garment-cost">Rs 300</p>
                    <p class="garment-type">{{packet['location']}}</p>
                    <!-- <button class="button-figma">Co-own now!</button> -->
                    <!-- <p class="description"><span>username </span> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Pariatur tenetur veritatis placeat, molestiae impedit aut provident eum quo natus molestias?</p>
                    <p class="post-time">2 minutes ago</p> -->
                </div>
                <!-- <div class="comment-wrapper">
                    <img src="../static/img/smile.PNG" class="icon" alt="">
                    <input type="text" class="comment-box" placeholder="Add a comment">
                    <button class="comment-btn">post</button>
                </div> -->
            </div>
            {% endfor %}
        </div>

        <!-- <div class="right-sub-col">
            <div class="post">
                <img src="{{query_path}}" class="post-image" alt="">
            </div>
        </div> -->
    </div>
</section>